# Explore here

In [41]:
# K-means Project
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split

In [42]:
# Load the dataset 
url = "https://raw.githubusercontent.com/4GeeksAcademy/k-means-project-tutorial/main/housing.csv"
df = pd.read_csv(url)
df.head(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697
6,3.6591,52.0,4.931907,0.951362,1094.0,2.128405,37.84,-122.25,2.992
7,3.1200,52.0,4.797527,1.061824,1157.0,1.788253,37.84,-122.25,2.414
8,2.0804,42.0,4.294118,1.117647,1206.0,2.026891,37.84,-122.26,2.267
9,3.6912,52.0,4.970588,0.990196,1551.0,2.172269,37.84,-122.25,2.611

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [44]:
# Split the data into x and y 
X = df.drop('MedHouseVal', axis=1) 
y = df['MedHouseVal']

In [45]:
# Selecting numeric columns for clustering
cluster_X = X[['HouseAge', 'AveRooms', 'AveBedrms']]  # Replace with your relevant columns

In [46]:
# Initialize the KMeans model with 6 clusters
kmeans = KMeans(n_clusters=6, random_state=42)

In [47]:
# Fit the model to the data
df['cluster_X'] = kmeans.fit_predict(X)

In [48]:
print(df['cluster_X'].value_counts())  # Show how many houses are in each cluster

cluster_X
0    8965
2    7729
1    2949
5     816
3     179
4       2
Name: count, dtype: int64

:

In [ ]:
#plt.figure(figsize=(10, 6))

# Scatter plot with color based on clusters
#sns.scatterplot(x='MedInc', y='MedHouseVal', hue='MedInc', palette='Set1', data=df, s=100, alpha=0.7)

#plt.title('House Clusters Based on Price and Square Footage')
#plt.xlabel('MedInc')
#plt.ylabel('MedHouseVal')
#plt.legend(title='Cluster', bbox_to_anchor=(1.05, 1), loc='upper left')
#plt.show()

In [ ]:
# Predict clusters for the test set
predicted_clusters = kmeans.predict(X_test)

In [ ]:
# Assuming X_test is a DataFrame and you want to add the predicted clusters to it
X_test['predicted_cluster'] = predicted_clusters